.footer__menu-link {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__menu-link {
        display: inline-block;
    }
}