.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../../images/cover-trains.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    z-index: 1;
    text-decoration: none;
    min-height: 740px;
    color: white;
}

.cover__link::before {
    content: "";
    background: #2A2C2F;
    opacity: .3;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cover__link:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 62.5vw;
    }
}
