.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    gap: 16px;
    padding-bottom: 92px;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 14px;
        max-width: 928px;  
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 352px);
        gap: 16px;
        max-width: 720px;  
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 288px);
        gap: 12px;
        max-width: 288px;  
        padding-bottom: 64px;
    }
}