.header {
  display: flex;
  justify-content: space-between;
  max-height: 52px;
  max-width: 1184px;
  margin: 0 auto;
  padding: 28px 0 56px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    max-height: 42px;
    padding-top: 16px;
  }
}