.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        margin: 0 0 24px;
    }
}