.lead__image {
    max-width: 984px;
    max-height: 615px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        max-height: 580px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        width: 100vw;
        height: 62.5vw;
    }
}