.place__paragraph-container {
    max-width: 484px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__paragraph-container {
        width: 90%;
        margin-left: 16px;
    }
}